<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4 class="text-center">日本文</h4>
    <%= message.body %>
  </div>

  <div class="form-group">
    <h4 class="text-center">英文</h4>
    <%= form.text_area :body_en, id: :message_body_en, class: "form-control", rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit "これで英訳", class: "btn btn-info btn-block" %>
  </div>
<% end %>