
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12">
    <h2 class="text-center">メールデータ</h2>
    <h4 class="text-center">～safeかdangerかラベリングしましょう！～</h4>
    <% @messages.each do |message| %>
      <div class="thumbnail">
        <div class="caption">
          <p><%= message.body %></p>
          <%= render 'label_button', message: message %>
          <p class="text-right">
            <%= link_to '', edit_message_path(message), class: "glyphicon glyphicon-pencil" %>
            <%= link_to '', message, method: :delete, class: "glyphicon glyphicon-trash", data: { confirm: '本当に大丈夫ですか？' } %>
          </p>
        </div>
      </div>
    <% end %>
    <p><%= link_to 'メールデータ全消去', messages_path, method: :delete, class: "btn btn-warning btn-xs btn-block", data: { confirm: '本当に大丈夫ですか？' } %></p>
  </div>
</div>