<h1>メールデータ</h1>
<%= link_to '全消去', messages_path, method: :delete, data: { confirm: '本当に大丈夫ですか？' } %>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>受信</th>
      <th>件名</th>
      <th>本文</th>
      <th>本文（英）</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= p "NEW" if Time.now - message.uptake_time < 86400 %></td>
        <td><%= render 'label_button', message: message %></td>
        <td><%= message.date %></td>
        <td><%= message.title %></td>
        <td><%= message.body %></td>
        <td><%= message.body_en %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: '本当に大丈夫ですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
