<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <h2>マイページ</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :boss_email %>
        <div class="">
          <%= f.email_field :boss_email, autofocus: true, class: "form-control", autocomplete: "boss_email", placeholder: "yourboss@domain" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Slack Incoming Webhook URL" %>
        <i><a href="https://api.slack.com/apps" target="_blank">(こちらから作成確認できます。)</a></i>
        <div class="">
          <%= f.url_field :slack_url, autofocus: true, class: "form-control", autocomplete: "slack_url", placeholder: "https://hooks.slack.com/services/XXXXXXXX/XXXXXXXX/xxxxxxxxxxx" %>
        </div>
      </div>

      <% if @user.provider.blank? %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      <% end %>

      <%= f.submit "登録する", class: "btn btn-info btn-block" %>

    <% end %>

    <hr>

    <p><%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

  </div>
</div>

