<h1>Dashboad#index</h1>
<p>Find me in app/views/dashboad/index.html.erb</p>


<li><%= link_to 'メール取込', gmail_callbacks_redirect_path %></li>


<li><%= link_to 'メールデータ', messages_path %></li>

<li>
  <%= form_tag learn_new_path, method: "post" do |f| %>
    <%= submit_tag '学習' %>
    <%= text_field_tag :einstein_token %>
  <% end %>
</li>


<li><%= link_to '学習履歴', learn_index_path %></li>

<li>
  <%= form_tag detect_redirect_path, method: "post" do |f| %>
    <%= submit_tag 'detect' %>
    <%= text_field_tag :einstein_token %>
  <% end %>
</li>


