<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <% if user_signed_in? %>
      <h3>1. 初期設定を行いましょう</h3>
      <p>マイページでBOSSのメールアドレスと通知先Slack Incoming Webhook URLを登録しましょう。</p>
      <%= link_to 'マイページ', edit_user_registration_path, class: "btn-lg btn-info btn" %>
      
      <% if current_user.boss_email.present? && current_user.slack_url.present? %>
        <hr>
        <h3>2. Slackとの連携テストをしましょう</h3>
        <p>
          問題なければ、数秒でようこそメールがSlackに通知されます。
        　　</br>
        　　通知が来なければSlack Incoming Webhook URLが間違っています。
      　　</p>
        <%= link_to 'テ　ス　ト', dashboad_test_path, class: "btn-lg btn-info btn" %>

        <hr>
        <h3>3. BOSSからのメールデータを取り込みましょう</h3>
        <p>
          現在のメールデータ数は<span class="badge"><%= user_message_count(current_user) %></span>件です。
        </p>
        <%= form_tag gmail_callbacks_redirect_path do |f| %>
          <p>過去<%= number_field_tag :after_date %>何日分のデータを取り込む。</p>
          <%= submit_tag 'メール取込', class: "btn-lg btn-info btn", data: { confirm: '多数の翻訳リクエストが発生します。節約にご協力お願いします。' } %>
        <% end %>
      <% end %>

      <% if user_message_count(current_user) > 0 %>
        <hr>
        <h3>4. メールデータをラベリングしましょう</h3>
        <p>
          safeかdangerか判断しましょう。
          </br>
          現在、safeデータ<span class="badge"><%= user_message_safe_count(current_user) %></span>件、dangerデータ<span class="badge"><%= user_message_danger_count(current_user) %></span>件です。
        </p>
        <%= link_to 'ラベリング', messages_path, class: "btn-lg btn-info btn" %>
      <% end %>
      
      <% if lesser_label_count(current_user) > 4 %>
        <hr>
        <h3>5. 学習しましょう</h3>
        <p>
          safeデータ<span class="badge"><%= user_message_safe_count(current_user) %></span>件、dangerデータ<span class="badge"><%= user_message_danger_count(current_user) %></span>件のため、<span class="badge"><%= lesser_label_count(current_user) %></span>件づつ取得して学習します。
          </br>
          学習は5-30分ほどかかります。
        </p>
        <%= form_tag learn_new_path do |f| %>
        　　<p>
            Einstein Token: <%= text_field_tag :einstein_token %>
            </br>
            Einstein Tokenの発行は<a href="https://api.einstein.ai/token" target="_blank">https://api.einstein.ai/token</a>
          </p>
          <%= submit_tag '学　　習', class: "btn-lg btn-info btn", data: { confirm: '学習には少なくとも6分以上かかります。準備はいいですか？' } %>
        <% end %>
      <% elsif user_message_count(current_user) > 0 %>
        <hr>
        <h3>5. 学習しましょう</h3>
        <p>少なくともsafeデータとdangerデータがそれぞれ<span class="badge">5</span>件以上ないと学習できません。</p>
      <% end %>

      <% if user_model_count(current_user) > 0 %>
        <hr>
        <h3>6. 興味があれば学習履歴を見てみましょう</h3>
        <p>見なくても問題ありません。</p>
        <%= link_to '学習履歴', learn_index_path, class: "btn-lg btn-info btn" %>
      <% end %>

      <% if user_model_count(current_user) > 0 && current_user.boss_email.present? && current_user.slack_url.present? %>
        <hr>
        <h3>7. dangerなメールをslackに通知しましょう</h3>
        <%= form_tag detect_redirect_path do |f| %>
        　　<p>
          　　最新の学習データを使用して、
            過去<%= number_field_tag :newer_than_hour %>何時間のメールからdangerメールを検出します。
          </p>
        　　<p>
            Einstein Token: <%= text_field_tag :einstein_token %>
            </br>
            Einstein Tokenの発行は<a href="https://api.einstein.ai/token" target="_blank">https://api.einstein.ai/token</a>
          </p>
          <%= submit_tag '検　　出', class: "btn-lg btn-info btn", data: { confirm: 'メール数が多い場合、多数の翻訳APIリクエストが発生します。節約にご協力お願いします。' } %>     
        <% end %>
      <% end %>
    <% else %>
      <h4>Gmailアカウントはお持ちですか？</h4>
      <a href="https://accounts.google.com/SignUp" target="_blank">https://accounts.google.com/SignUp</a>
      <h4>Slackのアカウントはお持ちですか？</h4>
      <a href="https://slack.com/" target="_blank">https://slack.com/</a>
      <h4>Slack Incoming Webhooksはお持ちですか？</h4>
      <a href="https://qiita.com/kakiuchis/items/1d9ade2ef83709209dc4" target="_blank">Slack Incoming Webhook URL取得方法</a>
      </br></br>
      <p><%= link_to image_tag('btn_google_signin_dark_focus_web.png'), user_google_omniauth_authorize_path %></p>
    <% end %>
  </div>
</div>


